### Linux

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# Metadata left by Dolphin file manager, which comes with KDE Plasma
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Log files created by default by the nohup command
nohup.out

### Node

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

### JetBrains

# User-specific stuff
.idea/*
.fleet/*

### VSCode

.vscode/*

### Project

@girs/
build/

### STOP AI
.aiassistant
AGENTS.md
