//:root {
//  --blue-1: #99c1f1;
//  --blue-2: #62a0ea;
//  --blue-3: #3584e4;
//  --blue-4: #1c71d8;
//  --blue-5: #1a5fb4;
//  --green-1: #8ff0a4;
//  --green-2: #57e389;
//  --green-3: #33d17a;
//  --green-4: #2ec27e;
//  --green-5: #26a269;
//  --yellow-1: #f9f06b;
//  --yellow-2: #f8e45c;
//  --yellow-3: #f6d32d;
//  --yellow-4: #f5c211;
//  --yellow-5: #e5a50a;
//  --orange-1: #ffbe6f;
//  --orange-2: #ffa348;
//  --orange-3: #ff7800;
//  --orange-4: #e66100;
//  --orange-5: #c64600;
//  --red-1: #f66151;
//  --red-2: #ed333b;
//  --red-3: #e01b24;
//  --red-4: #c01c28;
//  --red-5: #a51d2d;
//  --purple-1: #dc8add;
//  --purple-2: #c061cb;
//  --purple-3: #9141ac;
//  --purple-4: #813d9c;
//  --purple-5: #613583;
//  --brown-1: #cdab8f;
//  --brown-2: #b5835a;
//  --brown-3: #986a44;
//  --brown-4: #865e3c;
//  --brown-5: #63452c;
//  --light-1: #ffffff;
//  --light-2: #f6f5f4;
//  --light-3: #deddda;
//  --light-4: #c0bfbc;
//  --light-5: #9a9996;
//  --dark-1: #77767b;
//  --dark-2: #5e5c64;
//  --dark-3: #3d3846;
//  --dark-4: #241f31;
//  --dark-5: #000000;
//}
//
//:root {
//  --standalone-color-oklab: min(l, 0.5) a b;
//}
//
//@media (prefers-color-scheme: dark) {
//  :root {
//    --standalone-color-oklab: max(l, 0.85) a b;
//  }
//}
//
//:root {
//  --accent-blue: #3584e4;
//  --accent-teal: #2190a4;
//  --accent-green: #3a944a;
//  --accent-yellow: #c88800;
//  --accent-orange: #ed5b00;
//  --accent-red: #e62d42;
//  --accent-pink: #d56199;
//  --accent-purple: #9141ac;
//  --accent-slate: #6f8396;
//  --accent-bg-color: @accent_bg_color;
//  --accent-fg-color: @accent_fg_color;
//  --accent-color: oklab(
//                  from var(--accent-bg-color) var(--standalone-color-oklab)
//  );
//  --destructive-bg-color: @destructive_bg_color;
//  --destructive-fg-color: @destructive_fg_color;
//  --destructive-color: oklab(
//                  from var(--destructive-bg-color) var(--standalone-color-oklab)
//  );
//  --success-bg-color: @success_bg_color;
//  --success-fg-color: @success_fg_color;
//  --success-color: oklab(
//                  from var(--success-bg-color) var(--standalone-color-oklab)
//  );
//  --warning-bg-color: @warning_bg_color;
//  --warning-fg-color: @warning_fg_color;
//  --warning-color: oklab(
//                  from var(--warning-bg-color) var(--standalone-color-oklab)
//  );
//  --error-bg-color: @error_bg_color;
//  --error-fg-color: @error_fg_color;
//  --error-color: oklab(
//                  from var(--error-bg-color) var(--standalone-color-oklab)
//  );
//  --window-bg-color: @window_bg_color;
//  --window-fg-color: @window_fg_color;
//  --view-bg-color: @view_bg_color;
//  --view-fg-color: @view_fg_color;
//  --headerbar-bg-color: @headerbar_bg_color;
//  --headerbar-fg-color: @headerbar_fg_color;
//  --headerbar-border-color: @headerbar_border_color;
//  --headerbar-backdrop-color: @headerbar_backdrop_color;
//  --headerbar-shade-color: @headerbar_shade_color;
//  --headerbar-darker-shade-color: @headerbar_darker_shade_color;
//  --sidebar-bg-color: @sidebar_bg_color;
//  --sidebar-fg-color: @sidebar_fg_color;
//  --sidebar-backdrop-color: @sidebar_backdrop_color;
//  --sidebar-border-color: @sidebar_border_color;
//  --sidebar-shade-color: @sidebar_shade_color;
//  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
//  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
//  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
//  --secondary-sidebar-border-color: @secondary_sidebar_border_color;
//  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
//  --card-bg-color: @card_bg_color;
//  --card-fg-color: @card_fg_color;
//  --card-shade-color: @card_shade_color;
//  --dialog-bg-color: @dialog_bg_color;
//  --dialog-fg-color: @dialog_fg_color;
//  --popover-bg-color: @popover_bg_color;
//  --popover-fg-color: @popover_fg_color;
//  --popover-shade-color: @popover_shade_color;
//  --thumbnail-bg-color: @thumbnail_bg_color;
//  --thumbnail-fg-color: @thumbnail_fg_color;
//  --shade-color: @shade_color;
//  --scrollbar-outline-color: @scrollbar_outline_color;
//  --active-toggle-bg-color: #ffffff;
//  --active-toggle-fg-color: rgb(0 0 6 / 80%);
//  --overview-bg-color: #f3f3f5;
//  --overview-fg-color: rgb(0 0 6 / 80%);
//}
//
//@media (prefers-color-scheme: dark) {
//  :root {
//    --active-toggle-bg-color: rgb(255 255 255 / 20%);
//    --active-toggle-fg-color: #ffffff;
//    --overview-bg-color: #28282c;
//    --overview-fg-color: #ffffff;
//  }
//}
//
//:root {
//  --border-color: color-mix(in srgb, currentColor var(--border-opacity), transparent);
//  --border-opacity: 15%;
//  --dim-opacity: 55%;
//  --disabled-opacity: 50%;
//}
//
//:root {
//  --window-radius: 15px;
//}

.ags-bar {
  background-color: var(--window-bg-color);

  // fix: dark mode
  menubutton {
    color: var(--window-fg-color);
  }

  popover contents {
    padding: 0;
  }

  .workspaces {
    button.workspace {
      // fix: dark mode
      color: var(--card-fg-color);

      &.focused {
        background: var(--accent-bg-color);
        color: var(--accent-fg-color);
      }

      &.focused:hover {
        background: var(--accent-color);
        color: var(--accent-fg-color);
      }

      &.active {
        background: var(--accent-bg-color);
      }

      &.urgent {
        background: var(--warning-bg-color);
        color: var(--warning-fg-color);
      }
    }
  }

  .qs-revealer {
    background: var(--card-bg-color);
    color: var(--card-fg-color);

    > .accent-color-flowbox {
      button {
        &.active {
          background: var(--accent-bg-color);
        }

        &.inactive {
          opacity: 0.34;
        }
      }
    }
  }
}

.ags-notifications {
  background: linear-gradient(to right, transparent, var(--shade-color));
}

.shared-notification {
  &.overlay {
    background-color: var(--window-bg-color);
    color: var(--window-fg-color);
  }

  &.card {
    background-color: var(--card-bg-color);
    color: var(--card-fg-color);
  }

  &.low-priority {
    border: 1px solid var(--border-color);
  }

  &.normal-priority {
    border: 1px solid var(--accent-color);
  }

  &.critical-priority {
    border: 1px solid var(--error-color);
  }
}
